n8n/webhook-to-sheet.json
{
    "meta": {
      "instanceId": "c0cffb1215bfd4b77cd4ad70df3fa448b770e9328e93fa1996772da99749f272"
    },
    "nodes": [
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1owjaC9r81CoQs9Mq6JAAsvVYF9P--SlqiJLdqDEaiJg",
            "mode": "list",
            "cachedResultName": "slack_form",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1owjaC9r81CoQs9Mq6JAAsvVYF9P--SlqiJLdqDEaiJg/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1owjaC9r81CoQs9Mq6JAAsvVYF9P--SlqiJLdqDEaiJg/edit#gid=0"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "headers",
                "displayName": "headers",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "params",
                "displayName": "params",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "query",
                "displayName": "query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "body",
                "displayName": "body",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "webhookUrl",
                "displayName": "webhookUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "executionMode",
                "displayName": "executionMode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ]
          },
          "options": {
            "useAppend": true
          }
        },
        "id": "1d15c2aa-c896-454c-8005-280f8df8e1ec",
        "name": "Google Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          640,
          460
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "PgR3AvdApEV4BrfL",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "=\n {{ { ...$json.body} }}",
          "options": {}
        },
        "id": "e41bcd9f-aac0-485b-954d-67a1bdb1bd70",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          320,
          560
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "test-form",
          "options": {}
        },
        "id": "334263e4-7c2d-47dc-86a4-1db45d4fe4b2",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -20,
          460
        ],
        "webhookId": "d5dd2cb6-372c-4a2d-bcc5-e6e3766e2d5b"
      }
    ],
    "connections": {
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {}
  }